#main_docs{
    max-height: 100vh;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}
#divMenuDocs{
    flex: 1;
    background-color: #fff;
    border-right: 3px solid red; 
}
#divTestoDocs{
    flex: 6;
    background-color: var(--bg-base)
}
#divCodeDocs{
    flex: 3;
    background-color: #060226;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

