#section1_web_applicazioni{
    background-image: url("/web_applicazioni.jpg");
    height: 90vh;
    display: flex;
    flex-direction: row;
    color: #fff;
}
#wa_section1Container1{
    flex: 1;
    display: flex;
    font-size: 4rem; 
    align-items: center;
    background-color: #0006;
    padding-left: 30px; 
}
#wa_section1Container2{
    flex: 1;
    font-size: 2rem; 
    display: flex;
    align-items: center;
    background-color: #0006;
}
#divLinguaggi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 100px;
    background-color: #fff;
}

