/*SFONDI*/
#wa_section1{
    background-image: url("/web_applicazioni.jpg");
    height: 90vh;
    display: flex;
    flex-direction: row;
    color: #fff;
}

#wa_section2{
    background-image: linear-gradient(to top, #f0eded, #ded7d7);
    height: 100vh;
}
#wa_section3{
    background-color: var(--bg-base);
}
#wa_section4{
    background-color: var(--bg-base);
    height: 140vh;

}

/*SECTION1*/
#wa_section1 > div{
    flex: 1;
    background-color: #0006;
}
#wa_section1Container1{
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 30px; 
}

/*SECTION2*/
#divLinguaggi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 5px 10px #0001;
}


/*SECTION3*/
#wa_card1Section3{
    background-color: #000;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;

}
#wa_card1Section3 > div {
    flex: 1;
    text-align: center;
}

.wa_itemCardSecion3 > div{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    gap: 50px;
}
