#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    height: 7vh;
    box-shadow: 0 5px 20px #0007;
}

#cardNavbar{
    width: 100%;
    position: absolute;
    z-index: 1;
}
#navbar > div > * {
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
}
#navbar > div > div > a {
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
}
/**/
#MenuNavbar{
    background-color: #262626;
    max-height: 0px;
    overflow: hidden;
}
#MenuNavbar > section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 30px;
}
.itemMenu{
    background-color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.itemMenu > a{
    color: #fff;
    text-decoration: none;
    transition: 200ms translate;
}
.itemMenu > a:hover{
    translate: 3px 0 0;
    color: #c4bdbd
}
.borderRight{
    border-right: 1px solid red;
    padding-right: 50px;
}
