#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    height: 7vh;
}

#navbar > div > * {
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
}
